 - This is my personal website for showcase my projects and skills
 - This App using Next.js 15
 - Use the best practices for Next.js 15
 - Use Tailwind CSS for styling
 - Use Shadcn UI for components
 - Use Framer Motion for animations
 - Use phosporicons for icons with import `@phosphor-icons/react/dist/ssr`

 - I am developing in windows operating system with powerShell as main terminal 
